<?php

/*
 * This file is part of the PiwikClient.
 * (c) 2011 Knp Labs <http://www.knplabs.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

if (!class_exists('Knp\\PiwikClient\\UniversalClassLoader')) {
    require_once __DIR__.'/src/Knp/PiwikClient/UniversalClassLoader.php';
}
use Knp\PiwikClient\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
  'Knp\PiwikClient'     => __DIR__ . '/src',
  'Buzz'                => __DIR__ . '/vendor/Buzz/lib'
));
$loader->register();
